<%= render "shared/header"%>

<div class="container" style="margin-top: 6%;">
	<div class="row">
		<div class="col-md-4">
			<%= render "shared/user_sidemenu"%>
		</div>
  	<div class="col-md-8">
  		<div class="row" style="margin-top: 15px;">
  			<div class="col-md-4">
  				<%= image_tag @user.avatar.url, :class => "img-responsive img-thumbnail" %>
  				<br> <br>
  				<% if current_user?(@user) %>
  					<%= link_to "Editar perfil", edit_user_path(current_user), {:class => "btn btn-primary", :style => "width: 100%;"} %>
  				<% else %>
  					<a class="btn btn-success" style="width: 100%;">Enviar mensaje</a>
  				<% end %>
  			</div>
  			<div class="col-md-8">
  				<p><strong>Nombre: </strong><%= @user.name %></p>
  				<p><strong>Email: </strong><%= @user.email %></p>
  				<p><strong>Es admin? </strong><%= @user.admin ? "si" : "no" %></p>
  				<p><strong>Producto: </strong><%= @user.producto %></p>

  			</div>
  		</div>
  	</div>
	</div>
</div>