<%= form_for(@user, :html => {:multipart => true}) do |f| %>
      <%= render 'shared/error_messages' %>

      <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, :class => "form-control"%>              
        </div>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, :class => "form-control"%>             
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, :class => "form-control"%>              
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, "Confirmation" %>
          <%= f.password_field :password_confirmation, :class => "form-control"%>             
        </div>

        <div class="form-group">
          <%= f.label :producto %>
          <%= f.select(:producto, options_for_select([['GiCom E','GiComE'],['GiCom LT','GiComLT'],['GiCom 3E','GiCom3E']]), {:class => "form-control"}, {:class => "form-control"}) %>           
        </div>

        <div class="form-group">
          <%= f.label :avatar %>
          <%= f.file_field :avatar%>              
        </div>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>