<%= form_for(:event, url: events_path) do |f| %>
				    <div class="form-group">
				      <%= f.label :nombre %>
				  		<%= f.text_field :nombre, :class => "form-control" %>
				    </div>
				    <div class="form-group">
				      <%= f.label :expositor %>
				  		<%= f.text_field :expositor, :class => "form-control" %>
				    </div>
				    <div class="form-group">
				      <%= f.label :lugar %>
				  		<%= f.text_field :lugar, :class => "form-control" %>
				    </div>	
				    <div class="form-group">
				      <%= f.label :fecha %>
				  		<%= f.date_field :fecha, :class => "form-control" %>
				    </div>		
				    <div class="form-group">
				      <%= f.label :categoria %>
				  		<%= f.text_field :categoria, :class => "form-control" %>
				    </div>		
				    <div class="form-group">	
				    	<%= f.label :user %>			      
				  		<%= collection_select(:event, :user_id, User.all, :id, :name, {:prompt=>true}, {:class => "form-control"})%>
				    </div>				    
				    <%= f.submit "Crear evento", class: "btn btn-default" %>
				  <% end %>